
  <div class="container">
   <br><br>
    <div class="body"  >

    
        <table class="table table-bordered" >
         <thead class="table-dark">
    <tr>
      <th scope="col">diploma</th>
      <th scope="col" colspan="3">options</th>
    </tr>
  </thead>
    <tbody  *ngFor="let item of da,index as i"  >
     
                    <tr>
                      <td><h5 class="card-title">{{item.name}}</h5></td>
                    
                      
                            <td><a class="btn btn-primary" (click)="updatep(item.id)">update</a>
                     </td>

                    <td>
                      <button class="btn btn-danger" (click)="delete(item.id)">delete</button>
                    </td>
                   
                    </tr>
    </tbody>
   

                  </table> 
                  <button class="uk-button uk-button-default uk-margin-small-right" type="button" class="btn btn-primary" uk-toggle="target: #modal-example">add</button> 
         
                  <div id="modal-example" uk-modal>
                    <div class="uk-modal-dialog uk-modal-body">
                        <h2 class="uk-modal-title">add</h2>
                       
             <form #f="ngForm" (ngSubmit)="addcat(f)" >
            <input class="uk-input" type="text" name="diploma"    #speciality="ngModel" ngModel required width="20px" height="20px">
  
             <input type="submit" value="Add" class="btn btn-primary" [disabled]="f.invalid">
            </form>

                      
                    </div>
                </div>
  
  
                </div>
    